<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <title>Consent required</title>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <link rel="stylesheet" th:href="@{/css/main.css}"/>
  <script>
      function cancelConsent() {
          document.consent_form.querySelectorAll('input[type="checkbox"]').forEach(cb => cb.checked = false);
          document.consent_form.submit();
      }
  </script>
</head>
<body>
<main class="mt-10">
  <section class="max-w-5xl mx-auto px-4 text-slate-700">
    <div>
      <div class="flex justify-center">
        <h1 class="text-2xl font-bold" th:text="#{consent.grant-access}"></h1>
      </div>
      <div class="mt-14">
        <div class="flex justify-center whitespace-pre">
          <span th:text="#{consent.application} + ' '"></span>
          <a class="font-medium text-emerald-700 hover:text-emerald-600 cursor-pointer"
             th:text="${clientName} + ' '"></a>
          <span th:text="#{consent.want-to-access-account} + ' '"></span>
          <a class="font-medium text-emerald-700 hover:text-emerald-600 cursor-pointer flex">
            <span class="w-5" th:insert="~{/svg/user-circle}"></span>
            <span th:text="' ' + ${userConsent.fullName()}"></span>
          </a>
        </div>
      </div>
      <div class="mt-20">
        <div>
          <p th:text="#{consent.description-consent-1}"></p>
          <p th:text="#{consent.description-consent-2}"></p>
        </div>
      </div>
      <div class="mt-4">
        <div>
          <form name="consent_form" method="post" action="/oauth2/authorize">
            <input type="hidden" name="client_id" th:value="${clientId}">
            <input type="hidden" name="state" th:value="${state}">

            <div th:each="scope: ${needApproveScopes}">
              <label class="flex items-start"
                     th:classappend="${scope.id().equals(T(org.springframework.security.oauth2.core.oidc.OidcScopes).OPENID)} ? 'pointer-events-none'">
                <input class="accent-emerald-700 mt-[0.4rem]" type="checkbox" name="scope"
                       th:value="${scope.id()}"
                       th:id="${scope.id()}"
                       th:checked="${scope.id().equals(T(org.springframework.security.oauth2.core.oidc.OidcScopes).OPENID)}">
                <span class="ml-1">
                  <span class="font-medium" th:text="${scope.name()}"></span>
                  <small class="flex flex-col">
                    <span th:text="${scope.description()}"></span>
                  </small>
                </span>
              </label>
            </div>

            <div class="mt-8">
              <p th:if="${not #lists.isEmpty(approvedScopes)}" th:text="#{consent.description-approved-scopes}"></p>
              <div class="mt-4" th:each="scope: ${approvedScopes}">
                <label class="flex items-start">
                  <input class="mt-[0.4rem]" type="checkbox" th:id="${scope.id()}" disabled checked>
                  <span class="ml-1">
                    <span class="font-medium" th:text="${scope.name()}"></span>
                    <small class="flex flex-col">
                      <span th:text="${scope.description()}"></span>
                    </small>
                  </span>
                </label>
              </div>
            </div>

            <div class="flex justify-center mt-8">
              <button
                  class="border-0 py-2 px-4 bg-emerald-700 hover:bg-emerald-600 active:bg-emerald-700 rounded-md text-white font-semibold"
                  type="submit" id="submit-consent"
                  th:text="#{consent.button-grant-access}">
              </button>
              <button
                  class="ml-5 border-0 py-2 px-4 bg-slate-500 hover:bg-slate-400 active:bg-slate-400 rounded-md text-white font-semibold"
                  type="button" id="cancel-consent" th:text="#{consent.button-cancel}"
                  onclick="cancelConsent()">
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="mt-8 flex justify-center">
        <small class="flex flex-col">
          <span class="flex">
            <span class="w-4 min-w-4 text-emerald-700" th:insert="~{/svg/info-circle}"></span>
            <span class="ml-1" th:text="#{consent.description-for-scope-1}"></span>
          </span>
          <span class="flex">
            <span class="w-4 min-w-4 text-emerald-700" th:insert="~{/svg/info-circle}"></span>
            <span class="ml-1" th:text="#{consent.description-for-scope-2}"></span>
          </span>
        </small>
      </div>
    </div>
  </section>
</main>
</body>
</html>